<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты опроса</title>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Rating</th>
        </tr>
        {% for rating in ratings %}
        <tr>
            <td> <a href="{{ rating.character__url }}">{{ rating.character__name }}</a> </td>
            <td>{{ rating.character__height }}</td>
            <td>{{ rating.average_rating }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>