{% extends 'wei_info_poll/base.html' %}


{% block title %}Опросы{% endblock %}


{% block content %}

    <table>
        <tr>
            <th>Опрос</th>
            <th>Имя респондента</th>
            <th>Коэффициент доверия</th>
            <th>Использование в анализе</th>
        </tr>
        {% for poll in polls %}
        <tr>
            <td>{{ poll.id }}</td>
            <td>{{ poll.user__first_name }}</td>
            <td>{{ poll.concordance_factor }}</td>
            <td>{{ poll.analysis_usage }}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th></th>
            {% for column_header in poll_table.column_headers %}
            <th>{{ column_header }}</th>
            {% endfor %}
        </tr>
        {% for poll_row in poll_table.poll_rows %}
        <tr>
            <th>{{ poll_row.row_header }}</th>
            {% for data in poll_row.row_data %}
                <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <ul>
        {% for answer in answers %}
            <li>{{ answer.character_a__name }} - {{ answer.character_b__name }}: {{ answer.ratio_a_to_b }}</li>
        {% endfor %}
    </ul>

{% endblock %}